/* ------------------------------------------------------------------------
インラインフレームのサイズ指定
------------------------------------------------------------------------ */

/**********************************
商品ページ
***********************************/
/*▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
商品説明文(description)
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
/*納期情報*/
.sp-description-delivery_day{height:90px; width:100%;margin:20px 0 0 0; }
/*送料について*/
.sp-description-delivery{height:380px; width:100%;margin:20px 0 0 0; }
/*彫刻内容の記入*/
.sp-description-remarks{height:710px; width:100%;margin:20px 0 0 0; }
