body {
    background-color: white;
}

#itemImageSlider {
    /* topから下げる */
    /** 計算式の説明
     * 100vw * 120 / 616 = バナー1個のサイズが 616px * 120px
     * 30px = .category-card の margin-top
     * 100vw * 268 / 750 = バナー下の画像サイズが 750px * 268px
     * 50px = 自作ナビゲーションが縦 50px
     * 50px = 検索バーが50px
     * 30px = 微調整
    */
    margin-top: calc(100vw * 120 / 616 * 4 + 30px + 100vw * 268 / 750 * 3 + 50px + 50px + 30px);
}

/* header .header-container TOPページを下げる
本来は style.css に記述するべきだが、スマホのみ適用なのでこちらに記述 */
header .header-container {
    padding-top: calc(100vw * 120 / 616 * 4 + 30px + 100vw * 268 / 750 * 3 + 50px + 50px + 30px);
}

.header-bg {
}

.sp-header {
    height: calc(100vw * 120 / 616 * 4 + 30px + 100vw * 268 / 750 * 3 + 50px + 50px + 30px);
}

.spheader-event-banner {
    /* ナビゲーションの位置 */
    width: 100%;
    height: calc((100vw * 120 / 616)* 4 + 10px);
}

.spheader-event-banner>* {
}

.ctgTtl {
    height: calc(100vw * 120 / 616 * 4 + 30px + 100vw * 268 / 750 * 3 + 50px + 50px + 30px);
}

body {
    margin: 0;
}

.sp-header {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}

.itemtitle,.ctgTtl1,#campaignText,#itemFestival {
    display: none;
}

/* initialization design */
.spheader-wrap img {
    width: 100%;
}

.spheader-wrap p {
    margin: 0;
    text-align: center;
}

.spheader-wrap a {
    color: inherit;
    text-decoration: none;
}

.spheader-banner {
    width: 100%;
    height: 45px;
}

.spheader-banner img {
    object-fit: cover;
    height: 45px;
}

.spheader-event-banner img {
    width: 100%;
    display: block;
}

/* description design */
.spheader-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #909090;
    color: white;
    font-family: "YuGothic";

}

.spheader-wrap ul>li {
    padding-top: 5px;
    width: calc(100% / 4);
}

.spheader-wrap ul>li img {
    display: block;
    /* line-height: 0; */
    margin: 0 auto;
    width: 25px;
}

.spheader-wrap ul>li p {
    margin-top: 2px;
    font-size: 10px;
    line-height: 14px;
}

.category-card {
}

.category-card>div {
    display: inline-block;
    outline: 1px solid white;
}

.category-card img {
    width: 100%;
    vertical-align: top; /* 画像下の謎の余白対策 */
}

.category-card .double {
    width: 50%;
}

.category-card .triple {
    width: calc(100% / 3);
}

.height120 {
    height: calc(100vw * 120 / 616);
}

div.height120 img {
    display: inline-block;
    height: 100%;
    width: auto;
}

.ShopSearch {
    padding: 8px;
    background-color: lightgray;
}

.inShopSearchInputWrap input {
    width: calc(100vw - 8px * 2 - 60px - 5px);
    box-sizing: border-box;
    padding: .5em 5px;
    margin-right: 5px;
}

.inShopSearchSubmitButton {
    border: none;
    background-color: orangered;
    color: white;
    padding: .5em;
    font-weight: bold;
    width: 60px;
    letter-spacing: .5em;
    text-indent: .5em;
}

.SearchContainer>* {
    display: inline-block;
}
