#itemImageSlider {
    /* topから下げる */
    /* 1バナー */
    /* margin-top: calc(50px + (100vw * 120 / 616)); */
    /* 2バナー */
    /* margin-top: calc(50px + (100vw * 240 / 616)); */
    /* 4 */
    margin-top: calc((50px + (100vw * 240 / 616)) * 2);
}

.header-bg {
    /* topから下げる */
    /* 1バナー */
    /* padding-top: 0; */
    /* 2バナー */
    /* padding-top: 100px; */
    /* 4 */
    padding-top: 200px;
}

.sp-header {
    /* 1バナー */
    /* height: 123px; */
    /* 2バナー */
    height: 196px;
    /* 4 */
    height: 95vw;
}

.spheader-event-banner {
    /* ナビゲーションの位置 */
    width: 100%;
    /* 1バナー */
    /* height: 19.5vw; */
    /* 2バナー */
    height: 38.96vw;
    /* 4 */
    height: calc(19.5vw * 4);
}

.ctgTtl {
    /* 1バナー */
    /* height: 123px; */
    /* 2バナー */
    height: 196px;
    /* 4 */
    height: 95vw;
}

body {
    margin: 0;
}

.sp-header {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}

.itemtitle,.ctgTtl1,#campaignText,#itemFestival {
    display: none;
}

/* initialization design */
.spheader-wrap img {
    width: 100%;
}

.spheader-wrap p {
    margin: 0;
    text-align: center;
}

.spheader-wrap a {
    color: inherit;
    text-decoration: none;
}

.spheader-banner {
    width: 100%;
    height: 45px;
}

.spheader-banner img {
    object-fit: cover;
    height: 45px;
}

.spheader-event-banner img {
    width: 100%;
    display: block;
}

/* description design */
.spheader-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #909090;
    color: white;
    font-family: "YuGothic";

}

.spheader-wrap ul>li {
    padding-top: 5px;
    width: calc(100% / 4);
}

.spheader-wrap ul>li img {
    display: block;
    /* line-height: 0; */
    margin: 0 auto;
    width: 25px;
}

.spheader-wrap ul>li p {
    margin-top: 2px;
    font-size: 10px;
    line-height: 14px;
}
