#itemImageSlider {
    /* topから下げる */
    margin-top: 150px;
}

.ctgTtl {
    margin-top: 150px;
}

body {
    margin: 0;
}

.sp-header {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}

.itemtitle,.ctgTtl1,#campaignText,#itemFestival {
    display: none;
}

/* initialization design */
.spheader-wrap img {
    width: 100%;
}

.spheader-wrap p {
    margin: 0;
    text-align: center;
}

.spheader-wrap a {
    color: inherit;
    text-decoration: none;
}

.spheader-banner {
    width: 100%;
    height: 45px;
}

.spheader-banner img {
    object-fit: cover;
    height: 45px;
}

/* description design */
.spheader-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #909090;
    color: white;
    font-family: "YuGothic";

}

.spheader-wrap ul>li {
    padding-top: 5px;
    width: calc(100% / 4);
}

.spheader-wrap ul>li img {
    display: block;
    /* line-height: 0; */
    margin: 0 auto;
    width: 25px;
}

.spheader-wrap ul>li p {
    margin-top: 2px;
    font-size: 10px;
    line-height: 14px;
}
