/* ------------------------------------------------------------------------
商品リスト
------------------------------------------------------------------------ */
/**********************************
表札
***********************************/
/*越顔*/
.description-hp_list_00{height:1550; width:1150px;margin:20px 0 0 0; }
/*アクリルネームプレート*/
.description-hp_list_02{height:1900px; width:1150px;margin:20px 0 0 0; }
/*アクリルネームプレート　ネコ*/
.description-hp_list_02_cat{height:1900px; width:1150px;margin:20px 0 0 0; }
/*アクリルネームプレート　イヌ*/
.description-hp_list_02_dog{height:1900px; width:1150px;margin:20px 0 0 0; }

