@charset "UTF-8";

div.content {
    max-width: 800px;
    width: 90%;
    margin: 3rem auto;
}

div.content>h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

div.content>p>strong {
    font-weight: bold;
}

div.content>ul>li {
    margin-bottom: 1em;
}

div.content>ul>li>span {
    display: inline-block;
    width: 10em;
    font-weight: bold;
}

div.content>ul>li>p {
    font-size: 80%;
    text-indent: 2em;
    word-wrap: break-word;
}

div.content>h3 {
    font-size: 20px;
    margin-bottom: 1rem;
}