@charset "utf-8";
/* CSS Document */
* {
    /* outline: 1px #453E9F dashed; */
}
body {
    font-family:"Yu Gothic Medium", "游ゴシック Medium",
    YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-size: 16px;
    color: #222222;
}
div.body-wrap {
    overflow: hidden;
}
ul,ol {
    padding-left: 0;
    list-style-type: none;
}
h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 2.5em;
    margin-bottom: 2em;
}
a {
    text-decoration: none;
    color: #222222;
    outline: none;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    opacity: 0.8;
}
._mob, ._tab {
    overflow: hidden;
    display: none !important;
}
._pc {
    display: block !important;
}


/*ヘッダーの設定*/
header .header-bg img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
header h2 {
    color: white;
    text-align: start;
    padding-top: 5%;
    padding-bottom: 5%;
    text-shadow: 1px 1px 1px #000;
    font-size: 3rem;
}
header .header-container {
    position: relative;
}
header .header-bg {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
header .header-line {
    background: linear-gradient(rgba(0,0,0,0.3) 70%, rgba(0,0,0,0));
    width: 100%;
    position: absolute;
    top: 0;
    color: #ccc;
}
header .header-line-container {
    margin: 0 auto;
    height: 6rem;
    padding: 1rem;
    padding-bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
}
header .header-line-container .NiiMo-logo img {
    filter: invert(1);
}
header .header-line-container>._left {
    float: left;
    margin: 0;
}
header .header-line-container>._right {
    float: right;
    margin: 0;
    text-align: center;
}
header .header-line-container>._right a {
    color: #eee;
    font-size: .9rem;
}
header .header-line-parts3._right img {
    filter: brightness(20%) invert(1);
    height: 32px;
}
header .header-line-parts3._right p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.scroll {
    padding-bottom: 0;
}
.scroll a {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    padding-top: 0;
}
.scroll a span {
    position: absolute;
    top: 15px;
    left: 50%;
    right: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
/* header-line-parts2 */
header .header-line-container .header-line-parts2 {
    float: right;
    overflow: hidden;
    display: inline-block;
}
header .header-line-container .header-line-parts2 ._left {
    height: 100%;
    float: left;
    margin: 0;
    color: #eee;
    margin-right: 1rem;
}
header .header-line-container .header-line-parts2 ._left:before {
    font-family: FontAwesome;
    content: '\f105';
    padding-right: .5rem;
}
header .header-line-container .header-line-parts2>._right {
    float: right;
}
header .header-line-container .search {
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 5px 0 5px 5px;
    background-color: rgba(255,255,255,0.3);
}
header .header-line-container input {
    border: 0;
    outline: none;
    background-color: transparent;
}
#header .search input[type="text"] {
    width: 75%;
    color: #fff;
}
header #header .header-line-container form input[type="text"]::placeholder {
    color: #eee;
}
header .header-line-container input[type="submit"] {
    -webkit-appearance: none;
    width: 1.5rem;
    padding: 0;
    color: #eee;
}
/* header-line-parts3 */
header .header-line-container .header-line-parts3 {
    overflow: hidden;
    display: inline-block;
}
header .header-line-container .header-line-parts3>._right {
    padding-left: 30px;
    float: right;
}

/* itemlist */
.itemlist {
    /* height: 200px; */
    padding: 20px 0;
}

.itemlist-slide .slick-slide,
.itemlist-slide-sp .slick-slide {
    padding: 0 3px;
}

.itemlist-slide img,
.itemlist-slide-sp img {
    width: 100%;
}

.itemlist-slide p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 13px;
}

.itemlist-slide-sp p {
    display: none;
}

.event-banner-pc {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.event-banner-pc img {
    width: 450px;
}

/*アーティクルの設定*/
article {
}
._maxwidth {
    max-width: 1200px;
    margin: 0 auto;
}

/*プロダクトブランドの設定*/
.productbrand {
    padding-left: 1rem;
    padding-right: 1rem;
}
.productbrand .product-container {
    overflow: hidden;
    margin: 5rem auto;
}
.productbrand figure.productimage img {
    width: 100%;
}
.productbrand figure.productimage {
    width: 60%;
}
.productbrand .producttext {
    width: 35%;
}

.product-container>* {
    float: left;
}
.product-container:nth-child(2n-1)>figure {
    float: right;
}
.product-container:nth-child(2n)>div {
    float: right;
}

.productbrand .producttext h3 {
    padding-bottom: .8rem;
    border-bottom: 2px solid #900;
    margin-bottom: 2rem;
}
.productbrand .producttext h3 img {
    max-width: 100%;
}
.productbrand .producttext p {
    word-wrap: break-word;
}
.productbrand .producttext a {
    display: block;
    width: 100%;
    border: 2px solid #92c575;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    box-sizing: border-box;
    background-image: url(../img/arrow.gif);
    background-position: top 50% right 3%;
    background-repeat: no-repeat;
    margin-top: 2rem;
}
.productbrand .producttext a:hover {
    background-color: lightgray;
}

/*ナビの設定*/
nav {
    background-color: #eee;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
    padding: 60px calc((100vw - 100%) / 2);
}
nav.mobilenav {
    overflow: hidden;
    display: none;
}
nav ul {
    height: 20%;
    display: flex;
    flex-wrap: wrap;
}
nav ul li.box01 {
    background: url(../img/bg01.png) 0 0 no-repeat;
    background-size: contain;
}
nav ul li.box02 {
    background: url(../img/bg02.png) 0 0 no-repeat;
    background-size: contain;
}
nav ul li.box03 {
    background: url(../img/bg03.png) 0 0 no-repeat;
    background-size: contain;
}
nav ul li.box04 {
    background: url(../img/bg04.png) 0 0 no-repeat;
    background-size: contain;
}
nav ul li:hover {
    opacity: 0.9;
}
nav ul li {
    height: 0;
    width: 50%;
    padding-bottom: 31.19%; /* height / width * 100 / 2 */
}
nav .productbrand-white {
    background-color: rgba(255,255,255,0.7);
    margin: 10% 20%;
    padding: 5% 7%;
}
nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: calc(31.19% * 2); /* height / width * 100 */
    box-sizing: border-box;
}
nav ul li p {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0.9rem;
}
nav ul li img {
    width: 100%;
    height: auto;
}

.category ul {
    width: 1000px;
    margin: 0 auto;
}
.category li {
    width: calc(100% / 5 - 20px);
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1em;
    font-size: .9em;
    border: 4px solid lightgray;
    border-radius: 9px;
}
.category li img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0 0;
}
.category li p {
    margin-top: .5em;
    text-align: center;
}

/* product list item */
.product-list h3 img {
    width: 246px;
    height: auto;
}
.product-list ul {
    display: flex;
    justify-content: space-between;
}
.product-list ul li {
    width: 33.3%;
    text-align: center;
    outline: none;
}
.product-list ul li * {
    outline: none;
}
.product-list .product-box {
    max-width: 300px;
    margin: 0 auto;
}
.product-list ul li img {
    width: 100%;
    height: auto;
}
.product-list ul li p {
    margin-bottom: 0;
}
.product-list .detail-button, .product-list ul input {
    display: none;
}

/* banner */
.outlet {
    max-width: 600px;
    margin: 0 auto;
}

.outlet img {
    width: 100%;
}

/*ランキングの設定*/
#ranking {
    margin-top: 5rem;
    /* margin-bottom: 7rem; */
    padding-left: 1rem;
    padding-right: 1rem;

}
#ranking h3 {
    text-align: center;
}
#ranking h3 img {
    width: auto;
}
#ranking ul li {
    padding-top:18px;
}
#ranking ul li span {
    padding: 3% 4%;
    margin: 2em 0;
    border: solid 1px #ccc;
}
#ranking .product-box {
    padding-top: 1.2rem;
}

/* About Niimo */
.about-niimo {
    margin-top: 3rem;
    /* margin-bottom: 5rem; */
    position: relative;
    color: white;
}
.about-niimo h3 {
    text-align: center;
    padding-top: 0;
}
.about-niimo .about-niimo-bg img {
    width: 100%;
}
.about-niimo .about-niimo-fg img {
    width: auto;
}
.about-niimo .about-niimo-grayback {
    position: absolute;
    width: 60%;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    bottom: 0;
}
.about-niimo .about-niimo-fg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 60%;
}
.about-niimo .about-niimo-text {
    max-width: 666px;
    padding-right: 5%;
    padding-left: 5%;
    margin: auto;
}
.about-niimo .about-niimo-text h3 img {
    margin: 5vw auto;
}
.about-niimo .about-niimo-text p {
    text-indent: 1em;
    font-size: 1.1rem;
    margin-bottom: 5%;
}
.about-niimo-text .pconly img {
    max-width: 70%;
}

/*ご利用ガイドの設定*/
#guide {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#guide h3 {
    text-align: center;
}
#guide ul {
    display: flex;
    justify-content: space-between;
}
#guide ul li {
    width: 33.3%;
    text-align: center;
}
#guide ul li img {
    width: 100%;
    height: auto;
}
#guide ul li p {
    margin-bottom: 0;
    padding-top: .4rem;
}
#guide .guide-box {
    max-width: 300px;
    margin: 0 auto;
}

/*フッターの設定*/
.copyright p {
    font-size: .8rem;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 0;
}
/*ぬるぬるの設定*/
#page_top {
    width: 100px;
    height: 60px;
    position: fixed;
    right: .5rem;
    bottom: .5rem;
    background: #F3F3F3;
    opacity: 0.8;
    border-radius: 15px;
}
#page_top a {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
}
#page_top a::before {
    font-family: FontAwesome;
    content: '\f106';
    font-size: 25px;
    color: #434343;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -35px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
#page_top a::after {
    content: 'PAGE TOP';
    font-size: 13px;
    color: #434343;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

/* responsive */
@media screen and (max-width: 960px) {
    ._pc, ._mob {
        overflow: hidden;
        display: none !important;
    }
    ._tab {
        display: block !important;
    }

    /* Header */
    #header .searchbox {
        margin: auto 3%;
    }
    #header .search input[type="text"] {
        width: 75%;
        color: #fff;
    }
    header #header .header-line-container form input[type="text"]::placeholder {
        color: #eee;
    }
    #header .search input[type="submit"] {
        width: 14%;
        color: #eee;
    }
    header .header-line {
        background: linear-gradient(rgba(0,0,0,0.3) 70%, rgba(0,0,0,0));
    }
    header .header-line-container {
        height: 10rem;
    }
    header .header-line-container .header-dummy {
        content: "";
        clear: both;
        display: block;
        height: 0;
    }
    header .header-line-container .header-line-parts2 {
        display: block;
        width: 100%;
    }
    header h2 {
        font-size: 2rem;
    }

    /* Navigation */
    nav {
        background-color: transparent;
        margin: 0;
        padding: 0;
    }
    nav .productbrand-white {
        background-color: rgba(255,255,255,0.6);
        padding: 10% 10% 0 10%;
        margin: 0 15%;
    }
    nav ul li {
        overflow: hidden;
    }
    nav ul li p {
        height: 15rem;
    }
    nav .productbrand-white {
        padding-top: 6%;
    }
    nav ul li p {
        line-height: 1.1rem;
    }
    h3 {
        padding-top: 0;
        margin-bottom: 0;
    }
    .about-niimo .about-niimo-fg {
        padding-top: 5%;
    }
    .about-niimo .about-niimo-text h3 img {
        width: 45%;
        margin: 1rem auto;
    }
    .about-niimo .about-niimo-text h3 {
        padding-bottom: 0;
    }
    .about-niimo .about-niimo-text p {
        text-indent: 1em;
        font-size: .9rem;
    margin-bottom: .2rem;}

    /* product */
    .product-list ul {
        flex-flow: row wrap;
    }
    .product-list ul li {
        padding: 0 5px 1rem;
        width: 50%;
    }
    .product-list ul input~li {
        height: 0;
        overflow-y: hidden;
        opacity: 0;
        transition: 0.8s;
    }
    .product-list ul input:checked~li {
        height: auto;
        opacity: 1;
    }
    .product-list .detail-button {
        display: block;
    }
    .product-list .detail-button {
        text-align: center;
    }
    .product-list .detail-button label {
        width: 20rem;
        margin: 0 auto;
        background-color: #ccc;
        padding: 0.5rem 1rem;
    }

    /* Ranking */
    #ranking {
        padding-right: 0;
    }

    @media screen and (max-width: 600px) {
        .pconly, ._pc, ._tab {
            /* overflow: hidden; */
            /* display: none !important; */
        }
        .mobileonly, ._mob {
            display: block !important;
        }

        h2 {
            margin-top: 2.5em;
            margin-bottom: 2em;
        }

        /* header */
        header .header-line-container h1.NiiMo-logo {
            width: 50%;
            text-align: center;
            line-height: 0;
            float: left;
        }
        header .header-line-container .NiiMo-logo img {
            width: 100%;
            margin-bottom: .5rem;
        }
        header .header-line-container .header-dummy {
            /* display: none; */
        }
        header .header-line-container {
            height: 8rem;
            overflow: hidden;
            /* box-sizing: unset; */
        }
        header .header-line-container .header-line-parts2 {
            width: 50%;
            float: right;
        }
        header .header-line-container .search {
            box-sizing: border-box;
            display: block;
            width: 100%;
        }
        header .header-line-container .header-line-parts2 form {
            float: none !important;
            margin: 0 auto;
        }
        header #header .header-line-container form input[type="text"] {
            width: 70%;
            /* color: #eee; */
        }
        header #header .header-line-container form input[type="text"]::placeholder {
            color: #ccc;
        }
        header #header .header-line-container form input[type="submit"] {
            width: 1.5rem;
            padding: 0;
        }
        header h2 {
            font-size: 1.2rem;
            width: 50%;
        }
        header .header-bg {
            overflow: hidden;
            height: 500px;
        }
        header .header-bg img {
            height: 500px;
        }

        /* navigation */
        nav ul {
        }
        nav ul li {
            height: auto;
            padding: 0;
            width: 25%;
            padding-left: .5rem;
            padding-right: .5rem;
            background-color: gray;
            text-align: center;
            border: 1px solid white;
            box-sizing: border-box;
        }
        nav ul li a {
            padding: 0;
        }
        nav ul li .mnav-inner {
            padding: 1rem;
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
        }
        nav ul li p {
            height: auto;
            font-size: .8rem;
            padding: 2em 0;
            margin: 0;
            color: white;
        }

        /*
        .new-arrival ul {
        }
        .new-arrival li {
            width: calc(100% / 3 - 10px);
            display: inline-block;
            box-sizing: border-box;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 1em;
            font-size: .9em;
            border: 4px solid lightgray;
            border-radius: 9px;
        }
        .new-arrival li img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px 5px 0 0;
        }
        .new-arrival li p {
            margin-top: .5em;
            text-align: center;
        }
        */

        .category ul {
            width: 100%;
        }
        .category li {
            width: calc(100% / 3 - 10px);
            display: inline-block;
            box-sizing: border-box;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 1em;
            font-size: .9em;
            border: 4px solid lightgray;
            border-radius: 9px;
        }
        .category li img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px 5px 0 0;
        }
        .category li p {
            margin-top: .5em;
            text-align: center;
        }

        .ichioshi ul {
        }
        .ichioshi li {
            width: calc(100% / 3 - 10px);
            display: inline-block;
            box-sizing: border-box;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 1em;
            font-size: .9em;
            border: 4px solid lightgray;
            border-radius: 9px;
        }
        .ichioshi li img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px 5px 0 0;
        }
        .ichioshi li p {
            margin-top: .5em;
            text-align: center;
        }

        .attention ul {
        }
        .attention li {
            width: calc(100% / 3 - 10px);
            display: inline-block;
            box-sizing: border-box;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 1em;
            font-size: .9em;
            border: 4px solid lightgray;
            border-radius: 9px;
        }
        .attention li img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px 5px 0 0;
        }
        .attention li p {
            margin-top: .5em;
            text-align: center;
        }

        /* product brand */
        .productbrand {
            padding-left: 0;
            padding-right: 0;
        }
        .productbrand h2 {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .productbrand h3 {
            padding: 0;
            margin: 0 auto;
            text-align: center;
        }
        .productbrand .product-container figure.productimage {
            float: none;
            width: 100%;
        }
        .productbrand .product-container .producttext {
            float: none;
            width: 80%;
            margin: 0 auto;
        }
        .product-list .product-box {
            max-width: none;
            width: 90%;
            word-wrap: break-word;
        }
        .product-list .product-box img {
            width: 100%;
        }
        .product-list .product-box p {
            width: 90%;
            margin: .5rem auto;
        }

        /* Ranking */
        #ranking ul {
            display: block;
        }
        #ranking ul li p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }

        /*アバウトNiiMo*/
        .about-niimo .about-niimo-grayback {
            width: 100%;
        }
        .about-niimo .about-niimo-bg img {
            width: 600px;
            margin-left: calc((600px - 100vw) * -1);
        }
        .about-niimo .about-niimo-fg {
            width: auto;
        }
        .about-niimo .about-niimo-text h3 {
            padding-bottom: 0;
            text-align: -webkit-auto;
        }
        .about-niimo .about-niimo-text p {
            text-indent: 1em;
            font-size: .8rem;
            margin-bottom: .2rem;
        }

    }
}
