/* ------------------------------------------------------------------------
インラインフレームのサイズ指定
------------------------------------------------------------------------ */
/**********************************
共通
***********************************/
/*▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
ヘッダー(header)
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
/*イベントバナー*/
.header-event_banner{height:0px; width:100%;margin:0; }

/*▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
フッター(footer)
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
/*SNS*/
.footer-facebook{ height:350px; width:500px; }




/**********************************
商品ページ
***********************************/
/*▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
商品説明文(description)
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
/*納期情報*/
.description-delivery_day{height:220px; width:540px;margin:20px 0 0 0; }
/*送料について*/
.description-delivery{height:400px; width:540px;margin:20px 0 0 0; }
/*彫刻内容の記入*/
.description-remarks{height:500px; width:540px;margin:20px 0 0 0; }

/********
商品リスト
********/
/*アクリルネームプレート*/
.description-hp_list_02{height:1900px; width:1150px;margin:20px 0 0 0; }
/*アクリルネームプレート　ネコ*/
.description-hp_list_02_cat{height:1500px; width:1150px;margin:20px 0 0 0; }
/*アクリルネームプレート　イヌ*/
.description-hp_list_02_dog{height:1500px; width:1150px;margin:20px 0 0 0; }


/*▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
販売説明文(promotion)
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/
/*ムービー*/
.html_movie{height:450px; width:800px;margin:0 0 0 0; }










/* ------------------------------------------------------------------------
小技
------------------------------------------------------------------------ */

/*影をつける*/
.shadow { box-shadow: 1px 2px 8px 3px rgba(0,0,0,0.2); }