/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
　　promotion(販売説明文)
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
.product-MovieWrap{
width: 100%;
margin:0 auto;
padding:150px auto;
text-align: center;
}
.product-orderTitle{
width: 100%;
margin:0 auto;
text-align: center;
background: url(https://www.rakuten.ne.jp/gold/ep-naire/pc/img/product/promotion/hp/00/order-bg_title.png) repeat 0 0 #fff;
}
.product-orderWrap{
width: 100%;
margin:0 auto;
text-align: center;
background: url(../img/product/promotion/01-in/common/order-bg_dot.png) repeat 0 0 #fff;
}
.product-orderInner{
width: 1000px;
}

.ship-notice {
    width: 1000px;
    margin: 0 auto;
    border: 4px solid pink;
    padding: 30px 20px;
}

.ship-notice>.title {
    color: red;
    font-size: 160%;
    font-weight: bold;
}

.ship-notice>.title+p {
    line-height: 160%;
}

.ship-notice>.title+p>span {
    color: red;
}

/* ---------- フルスクリーン ---------- */
#product-FullWrap {
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

#product-keyvisual {
    width: 100%;
    height: 700px;
    text-align: center;
    margin-top: -10px;
}

#product-keyvisual img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}


.product-FullInner{
width: 1000px;
margin:0 auto;
text-align: center;
}


/* ---------- 幅1150px ---------- */
#product-1150Wrap{
width: 1150px;
text-align: center;
margin-top:-10px;
}
.product-1150Inner{
width: 1000px;
margin:0 auto;
text-align: center;
}




/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
　　description(商品説明文)
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
.product-descriptionTitle::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #63cc30 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 13px;
    bottom: -26px;
    content: "";
    display: block;
    height: 0;
    left: 48%;
    position: absolute;
    width: 0;
    z-index: 9999;
}
.product-descriptionTitle {
    background: #63cc30 none repeat scroll 0 0;
    display: inline-block;
    font-size: 20px;
	color:#FFFFFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 40px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 540px;
	margin-top:20px;
}
.product-descriptionInner {
    border: 1px solid #d1d1d1;
    width: 538px;
	margin:0;

}
.product-descriptionInner .icon{
    width: 24%;
}
.product-descriptionSubTitle {
	width:90%;
    font-size: 16px;
    font-weight: bold;
    border-top: 2px solid #63cc30;
	border-bottom: 2px solid #63cc30;
	margin:10px auto;
	padding:10px 0;
}
.product-descriptionSubInner {
	width:90%;
    font-size: 16px;
	color:#666666;
	margin:0 auto 40px auto;
	text-align: left;
	line-height:120%;
}
.product-descriptionSubInner span{
	color:#FF0000;
}







/*　ここから前のやつだから更新したら逐次消していく ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */





/* あす楽table */
#asurakuTable { width:369px; }

/* 商品ページ上部の幅指定 */
.show-body-div{
width: 830px;
}

.font-red{
  color : red;
}
.showf-body-div{
  width : 830;
  border-width : 1px;
  border-style : solid;
  border-color : #666666;
}
.showf-title-01{
  font-size : 14px;
  color : black;
  margin : 0px;
  font-weight : bolder;
  border-style : hidden;
}
.showf-title-02{
  font-size : 14px;
  color : black;
  margin : 0px;
  font-weight : lighter;
}
.showf-title-03{
  font-size : 14px;
  color : white;
  margin : 0px;
  font-weight : lighter;
}
.showf-title-layout-01{
  margin : 0px;
  background-image : url(https://image.rakuten.co.jp/ep-insho/cabinet/common/footer/title-back-01.jpg);
  padding : 11px;
}
.showf-title-layout-02{
  margin : 0px;
  background-image : url(https://image.rakuten.co.jp/ep-insho/cabinet/common/footer/title-back-02.jpg);
  padding : 6px;
  line-height:1;
}
.showf-title-layout-03{
  margin : 0px;
  padding : 6px;
  background-color : #990000;
}
.showf-layout-01{
  font-size : 14px;
  padding : 6px;
  line-height : 130%;
}
.showf-body-div dt{
 width : 260;
 font-size : 14px;
 color : white;
 background-color : gray;
 text-align : center;
 line-height : 36px;
}

/** ママ楽用 **/
.showf_mama-body-div{
  width : 100%;
  border-width : 1px;
  border-style : solid;
  border-color : #002e73;
  font-family: 'MS PGothic', Osaka, Arial, sans-serif;
}
.showf_mama-title-01{
  font-size : 14px;
  color : white;
  margin : 0px;
  font-weight : bolder;
  border-style : hidden;
}
.showf_mama-title-layout-03{
  margin : 0px;
  padding : 6px;
  background-color : #000099;
}
.showf_mama-title-layout-01{
  margin : 0px;
  background-image : url(https://image.rakuten.co.jp/ep-insho/cabinet/common/footer/mama-title-back-01.jpg);
  padding : 11px;
}
.showf_mama-title-layout-02{
  margin : 0px;
  background-image : url(https://image.rakuten.co.jp/ep-insho/cabinet/common/footer/mama-title-back-02.jpg);
  padding : 6px;
}

/*****スペック表 201612*****/
.tablestyle1{
  border-spacing:0!important;
  border-left:solid 1px #ccc;
  border-top:solid 1px #ccc;
  margin-bottom:50px;
}
.tablestyle1 td,th{
  border-right:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
  border-collapse: collapse;
  padding:7px;
  font-size: 85%;
  line-height: 1.5;
  vertical-align: middle;
  font-family: メイリオ;
}
.tablestyle1 th{
  background-color: #ececec;
  width:20%;
  text-align: center;
}
.tablestyle1 .ttl{
  background-color: #000;
  font-weight: bold;
  color: #fff;
  padding:8px;
}
.tablestyle1 .ttl2{
  background-color: #990000;
  font-weight: bold;
  color: #fff;
  padding:8px;
}

/* toc ---------------------------------------- */
.toc {
    font-family: "Yu Mincho", "YuMincho";
    margin-top: 72px;
    position: relative;
    padding: 16px;
    border: 1px solid #ffecb9;
    width: 400px;
}

.toc>h2 {
    position: absolute;
    display: inline-block;
    top: -42px;
    left: -1px;
    padding: 2.4px 12px 0;
    height: 40px;
    vertical-align: middle;
    font-size: 24px;
    background: #ffecb9;
    color: #2d2d2d;
    border-radius: 5px 5px 0 0;
}

.toc>ol {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    padding-top: 12px;
}

.toc>ol>li {
    padding-bottom: 10px;
    background-image: url(https://www.rakuten.ne.jp/gold/ep-naire/index2018/img/qa-list.png);
    background-repeat: no-repeat;
    background-position: 0 20%;
    padding-left: 18px;
    background-size: 10px;
}

.toc-and-movie {
    width: 1000px;
    display: flex;
    align-items: flex-end;
}

.toc+iframe {
    width: 480px;
    height: 320px;
}

/* niimo product list ------------------------- */
.product-list {
    width: 1000px;
    height: 275px;
    margin: 15px auto;
    display: flex;
}

.product-list>iframe.this {
    width: 480px;
    height: 275px;
}

.product-list>iframe.other {
    width: 500px;
    height: 275px;
}

/* mizunara aging sticks */
.ol-num {
    text-align: left;
    padding-left: 120px;
    font-size: 120%;
    margin-top: 1em;
}

.ol-num {
    list-style: decimal;
}

.ol-num>li {
    line-height: 300%;
    padding-left: 30px;
}

.giftbox-notice {
    font-size: 120%;
    text-align: left;
    padding-left: 100px;
}

.giftbox-notice span {
    font-weight: bold;
}

.as-henka {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    text-align: left;
}

/* Q and A */
.qanda {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    text-align: left;
}

.qanda>.title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 1em;
}

.qanda>.q::before {
    content: "Q.";
    color: #5791ff;
    font-size: 200%;
    padding-right: .5em;
}

.qanda>.q {
    font-size: 130%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.qanda>.a {
    padding-left: 4em;
}
