/* ---------- clearfix ---------- */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0.1em;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}
.clearfix {
    display: inline-block;
}
/* exlude MacIE5 \*/
* html .clearfix {
    height: 1%
}
.clearfix {
    display: block;
}
body {
    position: relative;
    margin:0;
}
a:hover img{filter: alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
　　共通レイアウト
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
.wrap{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
.col2_left{
    width: 870px;
    float: left;
}
.col2_right{
    width: 280px;
    float: right;
}

.wrap.banner>h1>div {
    display: inline-block;
    width: 49%;
}

.wrap.banner a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #bf0000;
}

.wrap.banner a:visited {
    color: #bf0000;
}

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
　　ヘッダー
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
#header{
    width: auto;
    height: auto;
}
.header_banner {
    text-align: center;
}
#header .header_main{
    border-top: 7px solid #FFFFFF;
    margin-top: 0;
    margin-top: 10px;
}
#header .header_main {
    padding: 15px 0 22px 0;
}
#header .header_main h2{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#header .header_main .iframe1{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
#header .header_main .iframe2{
    float: right;
    margin-top: 10px;
}


/* ---------- グローバルメニュー ---------- */

ul.menu{
display:flex;
font-size:1.2em;
border:1px solid #ccc;
}

.menu {
max-width:1200px;
 margin: 1em auto;
 padding: 0;
height:60px;
}

.menu li {
 list-style: none;
 width: calc(100% / 4);
}
.menu>li {
border-right:1px solid #ccc;
}
.menu>li:last-child {
border-right:0;
}


.menu li>a,.menu li>span {
 display: table;
 margin-top: 1px;
 padding: 14px 0px;
 width: 100%;
 background: #fff;
 text-decoration: none;
 text-align: center;
 vertical-align: middle;
 color: #1F3D39;
 overflow: hidden;
 transition:all .5s ease-out;
}



.menu li a:hover,.menu li span:hover {
 background: #fff;
 transition:all .5s ease-out;
}

.menu li ul {
 position: relative;
 margin: 0;
 padding: 0;
}

.menu li ul li{
width:100%;
}

.menu li ul li img{
width:50%;
height:auto;
}

.menu li li a {
 display: block;
 margin-top: 0;
 padding: 0;
 height: 0;
 background: #fff;
 color: #1F3D39;
 transition:all .5s ease-out;
 border:0px solid #fff;
}

.menu > li:hover li a {
 display: table;
 margin-top: 1px;
 padding: 10px 0;
 width: 100%;
 height: 1em;
 transition:all .5s ease-out;
 border:1px solid #fff;
}

.menu > li:hover li a:hover {
 background: #fff;
 transition:all .5s ease-out;
}

/*
#globalnav {
    margin-top: 20px;
}
#globalnav .parent_menu > li{
    float: left;
}
#globalnav .parent_menu li a{
    text-decoration: none;
}
#globalnav .parent_menu li:hover .btn_open{
    background : #000000 url(../img/header/sign_white.png) no-repeat right 15px center;
    color: #FFF;
    transition: all .3s ease;
}
#globalnav .parent_menu li:hover .child_menu{
    visibility: visible;
    background: #EEE;
    border-top:1px solid #000000;
    transition: all .3s ease;
    z-index:9999999999;
}
#globalnav .parent_menu li .btn_open{
    font-size: 18px;
    border:1px solid #000000;
    border-bottom: 0;
    color: #000000;
    width: 180px;
    padding: 25px 22px;
    text-align: left;
    background: url(../img/header/sign_blk.png) no-repeat right 15px center;
    cursor: pointer;
}
#globalnav .parent_menu li:hover .btn_open-01{
    background : #000000 url(../img/header/sign_white.png) no-repeat right 15px center;
    color: #FFF;
    transition: all .3s ease;
}
#globalnav .parent_menu li .btn_open-01{
    font-size: 18px;
    border:1px solid #000000;
    border-bottom: 0;
    color: #000000;
    width: 180px;
    padding: 25px 22px;
    text-align: left;
    background: #ffcc00 url(../img/header/sign_blk.png) no-repeat right 15px center;
    cursor: pointer;
}
#globalnav .parent_menu li:hover .btn_open-02{
    background : #000000 url(../img/header/sign_white.png) no-repeat right 15px center;
    color: #FFF;
    transition: all .3s ease;
}
#globalnav .parent_menu li .btn_open-02{
    font-size: 18px;
    border:1px solid #000000;
    border-bottom: 0;
    color: #FFF;
    width: 180px;
    padding: 25px 22px;
    text-align: left;
    background: #e5007f url(../img/header/sign_white.png) no-repeat right 15px center;
    cursor: pointer;
}
#globalnav .parent_menu li:hover .btn_open-03{
    background : #000000 url(../img/header/sign_white.png) no-repeat right 15px center;
    color: #FFF;
    transition: all .3s ease;
}
#globalnav .parent_menu li .btn_open-03{
    font-size: 18px;
    border:1px solid #000000;
    border-bottom: 0;
    color: #FFF;
    width: 180px;
    padding: 25px 22px;
    text-align: left;
    background: #0099ff url(../img/header/sign_white.png) no-repeat right 15px center;
    cursor: pointer;
}
#globalnav .parent_menu li:hover .btn_open-info{
    background : #000000 url(../img/header/sign_white.png) no-repeat right 15px center;
    color: #FFF;
    transition: all .3s ease;
}
#globalnav .parent_menu li .btn_open-info{
    font-size: 18px;
    border:1px solid #000000;
    border-bottom: 0;
    color: #FFF;
    width: 180px;
    padding: 25px 22px;
    text-align: left;
    background: #63cc30 url(../img/header/sign_white.png) no-repeat right 15px center;
    cursor: pointer;
}
#globalnav .parent_menu li:nth-child(n+2){
    margin-left: 2px;
}
#globalnav .beginner{
    float: right;
    background: #E0FFEF;
    border: 1px solid #006600
}
#globalnav .beginner a{
    font-size: 18px;
    width: 90px;
    display: block;
    padding: 15px 15px 15px 50px;
    background: url(../img/header/beginner.png) no-repeat left 12px center;
    color: #006600;
    text-decoration: none;
}
#globalnav .parent_menu li .child_menu{
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
}
#globalnav .parent_menu li .child_menu .menu_title{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background: url(../img/header/sign_blk2.png) no-repeat left top 3px;
    text-align: left;
    padding-left: 30px;
    padding-top: 3px;
    margin-top: 30px;
    border-bottom: 3px solid #000000;
    clear: both;
    overflow: auto;
}
#globalnav .parent_menu li .child_menu .menu_title a{
    font-size: 14px;
    background: #000000;
    color: #FFF;
    padding: 10px 0;
    width: 280px;
    text-align: center;
    text-decoration: none;
    float: right;
}
#globalnav .parent_menu li .child_menu .menu .box{
    margin-top: 15px;
    text-align: left;
    float: left;
    margin-right: 130px;
}
#globalnav .parent_menu li .child_menu .menu .box:nth-child(3n+1){
    clear: left;
}
#globalnav .parent_menu li .child_menu .menu .box:nth-child(3n){
    margin-right: 0;
}
#globalnav .parent_menu li .child_menu .menu .box:nth-child(n+4){
    margin-top: 30px;
}
#globalnav .parent_menu li .child_menu .menu .box span{
    font-size: 18px;
    color: #333333;
}
#globalnav .parent_menu li .child_menu .menu .box span a{
    font-size: 18px;
    color: #333333;
    text-decoration: none;
}
#globalnav .parent_menu li .child_menu .menu .box ul{
    font-size: 16px;
    margin-top: 10px;
}
#globalnav .parent_menu li .child_menu .menu .box li{
    margin-top: 5px;
}
#globalnav .parent_menu li .child_menu .menu .box li a{
    color: #666666;
    text-decoration: none;
}
#globalnav .parent_menu li .child_menu .col2_right ul{
    margin-top: 15px;
}
#globalnav .parent_menu li .child_menu .col2_right ul li:nth-child(n+2){
    margin-top: 10px;
}
#globalnav .parent_menu li .child_menu .col2_right img{
    width: 100%;
}
#globalnav .menu_bottom{
    margin: 30px 0;
    text-align: left;
}
#globalnav .menu_bottom span{
    font-size: 18px;
    color: #E60012;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 60px;
}
*/
/* ---------- 送料テキスト ---------- */
#message{
    border-top: 1px solid #000000;
    background: #ECE8DF;
    padding: 16px 0;
}
#message ul li{
    float: right;
    font-size: 16px;
    background: url(../img/header/car.png) no-repeat left center;
    padding-left: 26px;
}
#message ul li:nth-child(n+2){
    margin-left: 20px;
}


/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
　　コンテンツ
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
#contents_wrap{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#contents_inner{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
#contents_inner .col2_left{
    width: 550px;
    float: left;
}
#contents_inner .col2_right{
    width: 550px;
    float: right;
}

/* ---------- スライダー ---------- */
#slider{
    position: relative;
    width:100%;
    overflow: hidden;
    background: url(../../img/loading.gif) no-repeat center center;
    clear:both;
}
#slider ul{
    position: absolute;
    top: 0;
    left: 0;
}
#slider li{
    float: left;
}
#slider #prev,
#slider #next{
    position: absolute;
    top:34%;
    cursor: pointer;
}
#slider #prev{
    left:0%;
}
#slider #next{
    right:0%;
}

/* for script */
#slider ul,
#slider #next,
#slider #prev{
    visibility: hidden;
}
#slider .layer{
    width: 1000px;
    height: 360px;
    text-align:center;
    margin:auto;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../img/dot.png) repeat 0 0 #fff;
    opacity: 1;
    filter: alpha(opacity=10);
}
#slider {height: 360px;}
div#slider li img {
    width:1000px;
    height:360px;
}






/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
　　フッター
▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ===============
    新
=============== */

.footer{border-top:2px solid #ccc;background:#fff;margin-bottom:-500px;}

.footer .footer_inner{width:1199px;border-left:2px solid #ccc;border-right:2px solid #ccc;margin:0 auto;text-align:left;}

.footer .footer_inner *{color:#3e3939}

.footer .footer_col{float:left;padding:30px 0 30px 30px;font-weight:bold}

.footer .footer_col h2{margin-bottom:18px;font-size:18px;letter-spacing:0.1em;cursor:default}

.footer .footer_col li{margin-right:20px;font-size:14px;line-height:24px;letter-spacing:0.05em}

.footer .footer_col li .mod_link_icon:before{margin-right:10px}

.footer .footer_col_right{float:right;padding:20px 20px 0 0}

.footer .footer_col_home_ttl:before{content:url(../img/footer/icon-company.gif);display:inline-block;position:relative;top:-1px;width:18px;margin-left:-1px;margin-right:8px;vertical-align:middle}

.footer .footer_col_info_ttl:before{content:url(../img/footer/icon-info.gif);display:inline-block;position:relative;top:-1px;width:18px;margin-left:3px;margin-right:8px;vertical-align:middle}

.footer .footer_col_category_ttl:before{content:url(../img/footer/icon-cart.gif);display:inline-block;position:relative;top:-1px;width:18px;margin-left:-1px;margin-right:8px;vertical-align:middle}

.footer .footer_col_media_ttl:before{content:url(../img/footer/icon-sns.gif);display:inline-block;position:relative;top:-1px;width:23px;margin-left:-1px;margin-right:8px;vertical-align:middle}

.footer .footer_col_shop_ttl:before{content:url(../img/footer/icon-shop.gif);display:inline-block;position:relative;top:-1px;width:21px;margin-left:-1px;margin-right:8px;vertical-align:middle}

.footer .footer_bottom{height:51px;overflow:hidden;background:#3e3939;color:#fff;font-size:12px;letter-spacing:0.05em;line-height:40px}

.footer .footer_bottom .footer_bottom_inner{display:block;width:1200px;margin:0 auto}

.footer .footer_bottom .footer_bottom_logos{padding:10px 0 0 2px}

.footer .footer_bottom .footer_bottom_logos li{float:left;margin-right:28px;}

.footer .footer_bottom .footer_bottom_copyright{display:block;margin-top:-10px;text-align:right;letter-spacing:0.09em}

.footer .footer_bottom .footer_bottom_copyright a{color:#fff}

.footer .horeboreFooter{height:35px;overflow:hidden;background:#232323;color:#fff;font-size:12px;letter-spacing:0.05em;line-height:40px}

.footer .horeboreFooter .horeboreFooter_inner{display:block;width:1200px;margin:0 auto;text-align:right}

.footer .horeboreFooter .horeboreFooter_inner img{display:inline-block;position:relative;top:-2px;margin:0 25px 0 5px;vertical-align:middle}



/* Category page Layout --------------------------------- */
#risFil .categoryWindowImg {
    width: 250px;
    height: 250px;
}

#risFil .risfHeadFootWrap {
    background-color: transparent;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-left: none;
    border-right: none;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#risFil .risfHeadPart {
    border-right: none;
}

#risFil .risfHeadPart {
    border-right: none;
}

#risFil .risfHeadPart .selectForm {
    height: 24px;
}

#risFil .risfHeadPart .risfHeadSortTtl {
    padding-right: 10px;
}

#risFil .risfHeadPart .risfHeadCheck {
    width: 200px;
}

#risFil .risfHeadPart .risfHeadCheck li .risfHeadCheckBox {
    width: 18px;
    height: 18px;
}

#risFil .risfHeadPart .risfHeadCheck li .risfHeadCheckLabel {
    margin-left: 30px;
}
